* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-light: #F5F5F5;
  --clr-dark: #0B2434;
  --clr-accent: #5035FF;
  --clr-highlight: #59E391;

  --ff-primary: Karla, sans-serif;
  --ff-secondary: Inter, sans-serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --fc-primary: #2B283A;
  --fc-secondary: #fff;

  --fs-h1: 2.5rem;
  --fs-h2: 1.25rem;
  --fs-p: 1rem;

  --bs-small: 0 2px 2px rgba(0, 0, 0, 0.15);
  --bs-large: 0 3px 8px rgba(0, 0, 0, 0.2);

  --br-small: 4px;
  --br-large: 6px;
}

body {
  margin: 0;
  padding: 0;

  background: var(--clr-light);
  color: var(--fc-primary);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
}

.App {
  height: 600px;
  width: 600px;
  margin: 0;
  display: flex;

  background: var(--clr-dark);
}

.main-container {
  height: 80%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--clr-light);
  border-radius: var(--br-large);
}

.title {
  margin-top: 10%;
  
  font-size: var(--fs-h1);
}

.description {
  width: 55%;
  margin-top: 10px;
  text-align: center;

  font-family: var(--ff-secondary);
  font-weight: var(--fw-reg);
  font-size: var(--fs-p);
  line-height: 1.5;
}

.dice-container {
  margin-block: 5%;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 30px;
  row-gap: 20px;
}

.die {
  width: 60px;
  height: 60px;
  padding-top: 2px;

  font-size: 1.5rem;
  font-weight: var(--fw-bold);

  background: #fff;
  border-radius: var(--br-small);
  border-style: none;
  box-shadow: var(--bs-small);
}

.die-frozen {
  width: 60px;
  height: 60px;
  padding-top: 2px;

  font-size: 1.5rem;
  font-weight: var(--fw-bold);

  background: var(--clr-highlight);
  border-radius: var(--br-small);
  border-style: none;
  box-shadow: var(--bs-small);
}

.roll-btn {
  height: 10%;
  width: 25%;

  background: var(--clr-accent);
  color: var(--fc-secondary);
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);

  border-radius: var(--br-small);
  border-style: none;
  box-shadow: var(--bs-small);
}

.roll-btn:active {
  box-shadow: inset 3px 3px 8px -3px rgba(0, 0, 0, 0.7);
}